[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bibtexparser = {git = "https://github.com/sciunto-org/python-bibtexparser.git"}
"jinja2" = "*"
ipython = "*"
awscli = "*"

[dev-packages]

[requires]
python_version = "3.7"
