.jumbotron{
    color:white;
    background-image: url('/img/blackboard.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.circular-square {
  height:150px;
  width: 150px;
  border-radius: 50%;
}

.navbar-brand{
overflow: hidden;
height: 100px;
}

.bg-light{
 background-color: #06a0cc !important;
}
