{{ define "main" }}

<h1>{{ .Title }}</h1>
{{ range .Pages.ByPublishDate }}
  <div>
    {{ if .Params.featured_image }}
    {{ with .Resources.GetMatch (.Params.featured_image) }}
      {{ $image := .Resize "150x" }}
      {{ $image := $image.Filter (images.GaussianBlur 6) (images.Pixelate 13) (images.Invert) (images.Grayscale)}}
        <img src="{{ $image.Permalink }}" alt="no image">
    {{ end }}
    {{ end }}
    <div>{{ .Title }}</div>
    <a href="{{ .RelPermalink }}">
    </a>
  </div>
{{ end }}
{{ end }}
