{{ define "title" }}Members{{ end }}

{{ define "content" }}


  {{ range $elem_index, $elem_val :=.Pages.ByParam "sort_order" }}

    <div class="col-md-3" style="text-align: center;">
    {{ if .Params.featured_image }}
      {{ with .Resources.GetMatch (.Params.featured_image) }}
        {{ $image := .Fill "200x200" }}
        {{ $image := $image.Filter (images.Grayscale)}}
        <img class="rounded-circle img-thumbnail" src="{{ $image.Permalink }}" alt="no image">
      {{ else }}
        <img class="rounded-circle img-thumbnail" src="/img/alias.png" alt='img' width=200 height=200/>
      {{ end }}
    {{ end }}
    <div class="caption">
      {{ .Title }}
      {{/* <em>{{ .Params.featured_image }}</em> */}}
      {{ .Params.affiliation }}
    </div>
    {{/* <a href="{{ .RelPermalink }}">{{ .Title }}</a> */}}
    </div><!-- end col --->


  {{ end }}
{{ end }} 
