{{ define "title" }}Members{{ end }}

{{ define "content" }}

  {{- range .Pages.GroupByParam "sort_order" }}
    {{/* We have to Substr the Key because we have numerical prefix for sorting */}}
    <h3>{{substr .Key 2 }}</h3>
    <div class="container">

    {{- range .Pages.ByParam "affiliation" }}
        <div class="col-md-3" style="text-align: center;">
        {{ if .Params.featured_image }}
          {{ with .Resources.GetMatch (.Params.featured_image) }}
            {{ $image := .Fill "200x200" }}
            {{ $image := $image.Filter (images.Grayscale)}}
            <img src="{{ $image.Permalink }}" alt="no image">
          {{ else }}
            <img src="/img/alias.png" alt='img' width=200 height=200/>
          {{ end }}
        {{ end }}
        <div class="caption">
          {{ .Title }}
          <br/>
          {{/* <em>{{ .Params.featured_image }}</em> */}}
        </div>
        </div><!-- end col --->
    {{- end }}
    </div>
  {{- end }}

{{ end }} 
