{{ define "title" }}Publications{{ end }}

{{ define "content" }}

{{ range .Pages.ByDate.Reverse }}
<div id="publication-{{ .Slug }}">
  <a href="{{ .Permalink }}" title="{{ .Title }}" class="title">{{ .Title }}</a>
  <br>
  <em class="authors" title="Authors">
    {{ range $i, $e := .Params.authors }}{{ if $i }}, {{ end }}<author>{{ $e }}</author>{{ end }}
  </em>
  <br>
  <small class="venue">
	  {{ if isset .Params "venue" }}{{ .Params.venue }}, {{ end }}
	  {{ if isset .Params "date" }}<date>{{ .Date.Format "January 2006" }}</date>{{ end }}
	  {{ if isset .Params "publishnote" }} ({{ .Params.publishnote }}){{ end }}
  </small>
  {{ if or .Params.paper .Params.external_url .Params.text .Params.slides .Params.video_url (isset .Params "bibtex") }}
  {{ end }}
</div>
{{ end }}

{{ end }}
